.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #f2f2f2;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

* a {
    text-decoration: none;
}

.header .logo {
    font-size: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    font: 550 11px arial;
    line-height: 80%;
    color: black;
}

.menu a:hover {
    border-bottom: 2px solid black;
}

.header .nav-icon {
    font-size: 100%;
    gap: 20px;
}

.header-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.slider-content {
    text-align: center;

    h3 {
        font: 500 16px arial;
        color: black;

    }

    p {
        color: rgb(191, 72, 0);
        font: 400 11px arial;
    }
}

.new {
    color: rgb(191, 72, 0);
    font: 400 12px arial;
}

.slider-content:hover {
    cursor: pointer;
}

.section-iphone {
    height: 80px;
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;

    h2 {
        font: 500 20px arial;
    }

    p {
        font: 400 16px arial;
    }

    i {
        padding: 0 5px;
    }
}

.titanium-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.titanium-head {
    text-align: center;

    p {
        color: rgb(191, 72, 0);
        font: 500 15px arial;
    }

    h3 {
        font: 500 20px arial;
        color: #8b887eff;
        padding: 10px 0;
    }
}

.titanium-head-two {
    font: 500 16px arial;
    color: white;
    padding: 10px 0;
}

.titanium-content button {
    display: inline-block;
    color: #fff;
    background-color: rgb(0, 113, 227);
    font-size: 0.8em;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 10px 0;
    transition: all 0.3s;
}

.titanium-content button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px white;
}

.tit-tex img {
    width: 100%;
    height: 50px;
}

.titanium-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titanium-img img {
    width: 75%;
    height: 18vh;
}

.newphoria-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    max-height: 500px;
}

.newphoria-head {
    text-align: center;

    p {
        color: rgb(191, 72, 0);
        font: 500 15px arial;
    }

    h3 {
        font: 500 20px arial;
        color: black;
        padding: 10px 0;
    }

    h2 {
        font: 500 50px arial;
        color: black;
    }
}

.newphoria-img {
    background: url(../img/newphoria.jpeg)center/cover no-repeat;
    width: 100%;
    height: 100vh;
}

.newphoria-head-two {
    font: 500 16px arial;
    color: black;
    padding: 10px 0;
}

.newphoria-content button {
    display: inline-block;
    color: #fff;
    background-color: rgb(0, 113, 227);
    font-size: 0.8em;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 10px 0;
    transition: all 0.3s;
}

.newphoria-content button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.loveiphone {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.love-iphone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fbfbfb;
}

.love-iphone-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
        font: 500 18px arial;
        color: black;
        padding: 10px 0;
    }

    h2 {
        font: 700 50px arial;
        color: #1e3791;
        line-height: 1.5;
    }

    h3 {
        font: 500 20px arial;
        color: black;
        padding: 10px 0;
    }
}

.love-iphone-content button {
    display: inline-block;
    color: #fff;
    background-color: rgb(0, 113, 227);
    font-size: 0.8em;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 10px 0;
    transition: all 0.3s;
}

.love-iphone-content button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.which-iphone button {
    display: inline-block;
    color: #fff;
    background-color: rgb(0, 113, 227);
    font-size: 0.8em;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 10px 0;
    transition: all 0.3s;
}

.which-iphone button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.love-prcs-img img {
    height: 100%;
    width: 400px;
}

.part-fivefalan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.applebg12 {
    background: url("../img/applebg12.jpeg") center / cover no-repeat;
    height: 100vh;
    width: 98%;
    border-radius: 20px;
    position: relative;
}

.applebg12-content {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 300px;
    height: 100px;

    p {
        font: 600 25px Arial;
        color: white;
    }

    h2 {
        font: 500 42px Arial;
        margin: 20px 0;
        color: white;
    }
}

.applebg12-content button {
    display: inline-block;
    background: #ffffffcc;
    color: black;
    margin: 10px 0;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    font-size: 0.8em;
    transition: 0.3s;
}

.applebg12-content button:hover {
    cursor: pointer;
    background: #fff;
}

.which-iphone {
    width: 100%;
}

.which-iphone-head h1 {
    font: 700 48px Arial;
    color: black;
    padding: 35px 0;
    text-align: center;
}

#phonecard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;

}

.phonecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    text-align: center;
}

.phone-content h2 {
    text-align: center;
    font: 600 20px arial;
    color: black;
    font-weight: bold;
    padding: 10px 0;
}

.phone-content p {
    text-align: center;
    font: 500 18px arial;
    color: black;
    padding: 10px 0;
}

.phoneimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
}

.color-img1 {
    width: 50%;
    height: 40%;
}

.phone-img {
    width: 55%;
    height: 45%;
}

.phone-content .new {
    color: rgb(191, 72, 0);
    font: 500 15px arial;
}

.from {
    font: 400 13px arial;
    color: black;
    padding: 10px 0;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 16px Arial;
    padding: 15px 0;
}

.link {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: blue;
    gap: 15px;

    i {
        margin-left: 10px;
    }
}

.link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, yellow, orange, green, blue);
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.link:hover::after {
    width: 100%;
}

/*.more {
    padding: 10px 0;
    gap: 20px;
    text-align: center;
    font: 500 16px arial;
    color: rgb(0, 113, 227);
    text-decoration: none;
    position: relative;
    width: 100px;
}

.more::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, yellow, orange, green, blue);
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    transform-origin: center;
}

.more:hover::after {
    width: 100%;
}

.more a {
    gap: 20px;
}*/

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    width: 50%;
    gap: 10px;

    p {
        text-align: center;
        font: 400 13px Arial, Helvetica, sans-serif;
        color: black;
        padding: 10px 0;
        line-height: 15px;
    }
}

.features .zoom {
    font: 600 1.4em Arial;
}

.features img {
    width: 25%;
    height: 25%;
    padding: 15px 0;
}

.line {
    width: 100%;
}


.iphone-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*save iphone*/
.save-iphone-head h1 {
    font: 400 48px Arial;
    color: black;
    text-align: center;
    padding-top: 30px;
}

#save-iphone {
    width: 100%;
    height: 90vh;
    background-color: #f2f2f2;
}

.saveiphone {
    width: 100%;
    height: 200px;
}

.applemoji {
    width: 38%;
    height: 30%;
    padding: 10px 0;
}

.applephone {
    width: 50%;
    height: 55%;
    padding: 10px 0;
}

.iphone-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 28%;
    height: 65%;
    padding: 10px;
    text-align: center;

    h2 {
        font: 600 20px arial;
        color: black;
        width: 80%;
    }

    p {
        font: 400 16px arial;
        color: #6e6e73;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

/*why apple*/
.whyapple-content {
    background: url(../img/applebg6.jpeg)center/cover no-repeat;
    height: 60vh;
}

.whyapple-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;

    h2 {
        font: 600 45px arial;
        color: black;
        text-align: center;
        width: 50%;
    }

    p {
        font: 400 16px arial;
        color: black;
        width: 50%;
        padding: 10px 0;
    }
}

.accessories-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    h2 {
        font: 600 45px arial;
        color: black;
        text-align: center;
    }
}

.magsafe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

#magsafe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 100%;
    background-color: #f2f2f2;
}

.mgsafe-img img {
    width: 100%;
    height: 100%;
}

.mgsafe-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h2 {
        font: 600 38px arial;
        color: black;
        text-align: center;
        width: 60%;
    }

    p {
        font: 400 16px arial;
        color: black;
        width: 50%;
        padding: 10px 0;
        line-height: 30px;
    }
}

.airtag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

#airtag {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.airtag-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h2 {
        font: 600 38px arial;
        color: black;
        text-align: center;
        width: 60%;
    }

    p {
        font: 400 16px arial;
        color: black;
        width: 70%;
        padding: 10px 0;
    }
}

.airtag-img img {
    width: 100%;
    height: 100%;
}

.appple-magic {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    height: 100vh;
}

#magic {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    height: 500px;
    width: 80%;
    background-color: #f2f2f2;
}

.magic-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    h2 {
        font: 600 38px arial;
        color: black;
        text-align: center;
        width: 60%;
    }

    p {
        font: 400 16px arial;
        color: black;
        width: 70%;
        padding: 20px 0;
    }
}

.magic-img {
    width: 100%;
    height: 100%;
}

/*delivery section*/
#delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-top: 40px;
}

.card1,
.card2,
.card3 {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font: 600 18px arial;
        color: black;
        padding: 25px 0;
    }

    p {
        font: 500 16px arial;
        color: black;
    }
}

.whatip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    h2 {
        font: 600 45px arial;
        color: black;
        text-align: center;
    }
}

#ios17 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.ios17-img {
    background: url(../img/ios17.jpg) 40% -80px/cover no-repeat;
    height: 80vh;
}

.ioscontent {
    text-align: center;

    h3 {
        font: 500 50px arial;
        color: black;
        padding: 25px 0;
        line-height: 24px;
    }

    p {
        font: 500 18px arial;
        color: black;
    }
}

/*switching-privacy*/
.switching-privacy {
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.switching-head {
    font-size: 26px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.switching {
    width: 250px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.switching-img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.switching-img img {
    width: 500px;
    height: 200px;
}

.privacy {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../img/privacy.jpg)center / cover no-repeat;
    height: 50vh;
    position: relative;
}

.privacy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10.5%;
    width: 100%;
}

.privacy-head {
    font-size: 26px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.one-h2 {
    text-align: center;
    font-size: 50px !important;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.one-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 90%;
    padding: 50px 0;
}

.one {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.one-part2 p {
    text-align: center;
    font: 500 25px arial;
    color: black;
    padding: 10px 0;
}

.one-part2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.one-part2 img {
    width: 250px;
    height: 20%;
}

/*tv music*/
.tv-music {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding: 40px;
}

.tv-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: black;

    h2 {
        font: 700 50px arial;
        color: white;
        padding: 25px 0;
        line-height: 24px;
    }

    p {
        font: 500 25px arial;
        color: white;
    }

    img {
        width: 70%;
        height: 40%;
    }
}

.music-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: black;
    text-align: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: white;
    }

    p {
        font: 500 25px arial;
        color: white;
    }

    img {
        width: 70%;
        height: 30%;
    }
}

.fitness {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: white;
    text-align: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: black;
    }

    p {
        font: 500 25px arial;
        color: black;
    }

    img {
        width: 70%;
        height: 30%;
    }
}

.arcade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: white;
    text-align: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: black;
    }

    p {
        font: 500 25px arial;
        color: black;
    }

    img {
        width: 70%;
        height: 30%;
        margin-top: 20px;
    }
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: white;
    text-align: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: black;
    }

    p {
        font: 500 25px arial;
        color: black;
    }

    img {
        width: 70%;
        height: 30%;
        margin-top: 20px;
    }
}

.giftc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 100%;
    background-color: white;
    text-align: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: black;
    }

    p {
        font: 500 25px arial;
        color: black;
    }

    img {
        width: 70%;
        height: 30%;
        margin-top: 50px;
    }
}

/*reserch*/
.research {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    align-items: center;
    height: 100vh;
}

.research-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    h2 {
        font: 700 50px arial;
        padding: 25px 0;
        line-height: 24px;
        color: black;
    }

    p {
        font: 500 25px arial;
        color: black;
    }

    img {
        width: 70%;
        height: 30%;
        margin-top: 50px;
    }
}

#about {
    padding: 20px 0;
    color: #0000007a;
    text-align: justify;
    font: 400 16px Arial;
}

ol {
    padding: 0 0 30px 30px;
}

ol {
    li {
        padding: 0;
        list-style: decimal;
    }
}

.menu-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu-column {
    flex: 1;
    margin: 0 10px;
}

.menu-column h3 {
    font:500 18px Arial;
    margin-bottom: 10px;
    color: #000000BD;
}

.menu-column ul {
    list-style: none;
    padding: 0;
}

.menu-column ul li {
    margin-bottom: 8px;
}

.menu-column ul li a {
    text-decoration: none;
    font:500 14px Arial;
    margin-bottom: 10px;
    color: #000000BD;
}

.menu-column ul li a:hover {
    text-decoration: underline;
}